@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    background: rgb(10, 63, 112);
}

* {
    box-sizing: border-box;
}

.boxes {
    display: flex;
    margin: 20px;
}

.boxes>div {
    display: flex;
    align-items: center;
    width: 40%;
    height: 200px;
    margin: auto;
    background-color: teal;
}

.expelled_total,
.per_house {
    padding: 20px;
}

.expelled_total>div {
    margin: auto;
}

.per_house>div {
    margin: 15px;
}

.total-list-number {
    text-align: center;
    width: 130px;
    margin: auto;
    margin-right: 20px;
    background-color: rgb(146, 83, 20);
    padding: 10px;
    border-radius: 50%;
}

.categories {
    display: flex;
}

.categories h2 {
    width: 200px;
    margin: 0 10px;
    padding: 0px 10px;
    font-family: 'Permanent Marker', cursive;
}

.student {
    display: flex;
    width: 100%;
    background: rgb(10, 63, 112);
    font-family: 'Orbitron', sans-serif;
}

.student>div {
    width: 200px;
    background: rgb(20, 93, 136);
    margin: 10px;
    padding: 6px 10px;
}

.filter_sort {
    display: flex;
    width: 650px;
    justify-content: flex-end;
}

.filter_sort>div {
    width: 200px;
}

.active,
.active_sort {
    background-color: teal;
    outline: none;
    border: none;
}

.empty {
    width: 108px;
    height: 114px;
    background-color: rgb(21, 110, 110);
}

details {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

details button {
    width: 100px;
}

/* MODAL */
.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 29, 138, 0.7);
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(14, 74, 165);
    padding: 40px;
    width: 400px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.4s;
    animation-name: animatetop;
    animation-duration: 1.4s;
    text-align: center;
    display: block;
    z-index: 888;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(222, 222, 222, 1);
    box-shadow: 0px 0px 5px 0px rgba(222, 222, 222, 1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}

.slytherin {
    background-color: #2A623D;
    background-image: linear-gradient(to bottom right, #2A623D, #1A472A, #2A623D);
}

.hufflepuff {
    background-image: linear-gradient(to bottom right, #60605c, #FFDB00, #60605c);
    ;
}

.ravenclaw {
    background-color: #222f5b;
    background-image: linear-gradient(to bottom right, #222f5b, #4f619e, #222f5b);
}

.gryffindor {
    background-color: #740001;
    background-image: linear-gradient(to bottom right, #D3A625, #EEBA30, #D3A625);
}

.information {
    display: flex;
    flex-wrap: wrap;
}

.personal_info {
    display: flex;
    max-width: 330px;
    flex-wrap: wrap;
}

.banner img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
}

.personal_info h3 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0;
}

.personal_info p {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.personal_info>div {
    width: 140px;
    margin: 0 10px;
    padding: 4px 8px;
}

.hufflepuff .personal_info h3::first-letter {
    color: #FFDB00;
}

.gryffindor .personal_info h3::first-letter {
    color: #AE0001;
}

.slytherin .personal_info h3::first-letter {
    color: #000000;
    font-weight: 900;
}

.personal_info {
    text-align: left;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    margin: 10px 0;
}